
<form action="{{ action }}" method="post">
  <input type="hidden" name="app_id" value="{{ app_id }}" />
  <input type="hidden" name="order_id" value="{{ order_id }}" />
  <input type="hidden" name="amount" value="{{ amount }}" />
  <input type="hidden" name="currency" value="{{ currency }}" />
  <input type="hidden" name="product_description" value="{{ product_description }}" />
  <input type="hidden" name="customer_name" value="{{ customer_name }}" />
  <input type="hidden" name="customer_email" value="{{ customer_email }}" />
  <input type="hidden" name="customer_phone" value="{{ customer_phone }}" />
  <input type="hidden" name="language" value="{{ language }}" />
  <input type="hidden" name="hash" value="{{ hash }}" />

  <div class="buttons">
  <center>
  <img src="https://payhalal.my/images/btn-woocommerce.png" width="700"/><br/><br/>
        <input type="submit" value="Proceed to Payment" id="button-confirm" class="btn btn-primary" />
    </center>
  </div>
</form>
